.container-formulario {
    width: 80% !important;
}

.head-table {
    background-color: #f8f8f8;
    border: none !important;
}
.table {
    width: 80% !important;
}
.container-formulario {
    width: 80% !important;
    float: right;
}

button:hover {
    box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.15);
}

.id {
    visibility: hidden;
}
