.container {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.search-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
}
.search-box {
	border: 1px solid #ccc;
	display: flex;
  align-items: center;
  border-radius: 4px;
}

.search-container input[type="text"] {
	flex: 1;
	padding: 10px;
	border: none;
	border-radius: 4px;
}

.search-container button[type="submit"] {
	padding: 10px;
	width: 50px;
	float: right;
	border: none;
	cursor: pointer;
	background: #F9F9F9;
	border: 1px solid #E4E4E4;
	border-radius: 0 4px 4px 0;
}

.search-container button[type="submit"]:hover {
}

.search-container .add-contact-btn {
	padding: 10px;
	background-color: #2F80ED;
	border: 1px solid #2F80ED;;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 10px;
}

#menu {
	width: 20%;
	float: left;
    
}
#menu ul {
    border-radius: 10px;
    background-color: #F8F8F8;
}
#menu ul li {
	text-align: left;
	list-style-type: none;
	padding: 1rem;
}

#menu a {
	text-decoration: none;
	color: #565656;
}

#menu a img {
	padding-right: 1rem;
}
